@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Ubuntu:wght@400;700&display=swap');

body{
    font-family: $principal;
}

p{
    line-height: $x-large;
}

h2{
    font-size: $large;
    font-weight: $bold;
}

h3 {
    font-family: $auxiliar;
}

.nav {
    font-family: $auxiliar;
}
.section {
    &__barra{
        font-family: $auxiliar;
    }

    &__rrss i{
        font-size: $large;
        margin: 5px;
    }
}

.footer {
    font-family: $auxiliar;
}