.container {
    display: flex;
    flex-direction: column;
    gap: 10px;

    @include responsive ($smalldev) {
        flex-direction: row;
    }
}

.section {
    margin: 8px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    padding: 20px;

    &__article {
        margin-bottom: 15px;
        padding: 10px;
    }

}