//Color Scheme
$White: #FFFFFF;
$Black: #000000;
$Charcoal: #2E1503;
$Sable: #060606;
$Orange: #FFA500;
$Tangerine:#FFAF6D;

//Typography
$principal:'Ubuntu', sans-serif;
$auxiliar: 'Poppins', sans-serif;

//Font weight
$regular: 400;
$bold: 700;

//Font sizes
$xxxxx-large: 50px;
$xxxx-large: 45px;
$xxx-large: 40px;
$xx-large: 35px;
$x-large: 30px;
$large: 20px;
$medium: 16px;
$small: 14px;
$x-small: 12px;


//Device size
$smalldev: 540px;