.header {
    margin: 1%;
}

.section {
    border: black solid 1px;

    &__article {
        border: black dotted 1px;
    }

    &__social{
        margin-top: 6%;
        text-align: center;
    }

    &__img {
        border-radius: 50%;
        border: black solid 1px;
    }

    &__barra {
        background-color: $Sable;
        color: $White;
        text-align: center;
        margin: 0;
    }
}

.animation {
    text-align: center;
}






